<div class="title">
  <h2><strong>新しいサークル！ 新しい仲間！</strong></h2>
  <h3>\大人のための、共に楽しむサークルと仲間をつくるサイト/</h3>
</div>

<div class="user_top">
  <div class="slider">
    <%= image_tag asset_path("user_top1.jpeg")%>
    <%= image_tag asset_path("user_top2.jpeg") %>
    <%= image_tag asset_path("user_top3.jpeg") %>
    <%= image_tag asset_path("user_top4.jpeg") %>
    <%= image_tag asset_path("user_top5.jpeg") %>
  </div>
</div>

<div class="explanation">
  <h3><strong>ようこそ、MEMBERSへ！</strong></h3>
  <h4>こちらは、会員制のサークルマッチングサイトになります。</h4>
  <h4>新しくサークルを作成したり、他のサークルに参加ができます。</h4>
  <h4>利用の際には、会員登録をお願いします。</h4>
</div>

<!-- 新規登録/ログインボタン -->
<div class="user_go">
  <%= link_to new_user_registration_path, method: :get do %>
    <h4>新規登録は、こちらから
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    </h4>
  <% end %>
  <%= link_to new_user_session_path, method: :get do %>
    <h4>ログインは、こちらから
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    </h4>
  <% end %>
  <%= link_to top_admin_path, class: "btn btn-default btn-xs" do %>
    <h5>
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
      管理者は、こちらから
    </h5>
  <% end %>
</div>
