<div class="field_new">
  <tr>
    <td><%= f.label :プロフィール画像 %>(必項)</td>
    <td><%= f.file_field :profile_image %></td>
  </tr>
</div>
<div class="field_new">
  <tr>
    <td><%= f.label :ニックネーム %>(必項)</td>
    <td><%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %></td>
  </tr>
</div>

<div class="field_new">
  <tr>
    <td><%= f.label :性別 %>(必項)</td>
  <td>
  <label>
    <%= f.radio_button :gender, "男性" %> 男性
  </label>
  <label>
    <%= f.radio_button :gender, "女性" %> 女性
  </label>
  </td>
  </tr>
</div>

<div class="field_new">
  <tr>
    <td><%= f.label :年齢 %>(必項)</td>
    <td><%= f.text_field :age, min: 20, autofocus: true, autocomplete: "age" %>歳</td>
  </tr>
</div>