<div class="row">
  <div class="col-xs-6">
    <h2>プロフィール</h2>
      <div class="profile">
        <%= attachment_image_tag @user, :profile_image, :fill, 180, 180, format: 'jpeg' , class: "img-circle" %>

        <% if current_user == @user %>
          <%= link_to "会員編集", edit_user_path(@user.id), class: 'btn btn-primary' %>
        <% end %><br>

        <table class="table">
          <tr>
            <th> ニックネーム :</th>
            <td> <%= @user.nickname %> </td>
          </tr>
          <tr>
            <th> 性別 :</th>
            <td> <%= @user.gender %> </td>
          </tr>
          <tr>
            <th> 年齢 :</th>
            <td> <%= @user.age %>歳 </td>
          </tr>
        </table>

            <div class="introduction">
              <label for="introduction"> 自己紹介 </label>
              <%= @user.introduction %>
            </div>
      </div>
  </div>

  <div class="col-xs-6">
    <%= render 'users/circles/organizer_list' %>
    <%= render 'users/circles/joined_list' %>
  </div>
</div>


