<div class="row">
  <div class="col-xs-6">
    <h2>プロフィール</h2>
      <div class="profile">

        <div class="profile_img">
          <%= attachment_image_tag @user, :profile_image, :fill, 180, 180, format: 'jpeg' , class: "img-circle" %>
        </div>

          <div class="user_table">
            <table class="table">
              <tr>
                <th>ニックネーム :</th>
                <td><%= @user.nickname %></td>
              </tr>
              <tr>
                <th>性別 :</th>
                <td><%= @user.gender %></td>
              </tr>
              <tr>
                <th>年齢 :</th>
                <td><%= @user.age %>歳</td>
              </tr>
            </table>
          </div>

          <div class="edit_bottam">
          <% if current_user == @user %>
            <%= link_to edit_user_path(@user.id), class: 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-cog" aria-hidden="true">プロフィール編集</span>
            <% end %>
            <br>
          <% end %>
        </div>

        <div class="introduction_box">
          <label for="introduction"> &emsp;自己紹介 </label><br>
          <div class="introduction">
            <%= @user.introduction %>
          </div>
        </div>

      </div>
  </div>

  <div class="col-xs-6">
    <div class="user_show_right">
    <div class="title_box">
      <h5>主催サークル</h5>
    </div>
    <div class="list_box">
      <%= render 'users/circles/organizer_list' %>
    </div>
    <div class="title_box">
      <h5>参加サークル</h5>
    </div>
    <div class="list_box">
      <%= render 'users/circles/joined_list' %>
    </div>
  </div>
  </div>
</div>


