<% if params[:search] %>
  <div class="seach_box">
    <h4>&ensp;検索結果（ <%= circles.count %>件)&emsp;
      <%= select_tag :newly, options_for_select([["投稿が新しい順","1"], ["投稿が古い順","2"], ["人気が高い順","3"], ["人気が低い順","4"]]) %>
    </h4>
  </div>
<% elsif current_page?('/admins/circles') %>
  <h4>サークル 一覧</h4>
<% else %>
  <h4>サークル 一覧 &emsp;（ <%= circles.count %>件）</h4>
<% end %>

<div class="index_list">
  <div class="panel panel-primary">
    <% circles.each do |circle| %>
      <div class="panel-heading">
        <h4 class="panel-title"><strong><%= circle.circle_name %></strong></h4>
      </div>
      <div class="panel-body">
        <div class="circle_list_img">
          <% if admin_signed_in? %>
            <%= link_to admins_circle_path(circle.id) do %>
              <%= attachment_image_tag circle, :circle_img, :fill, 80, 60, format: 'jpeg' %>
            <% end %>
          <% elsif controller.controller_name == 'host_circles' && controller.action_name == 'show' %>
            <%= link_to users_host_circle_path(@user.circle.id) do %>
              <%= attachment_image_tag circle, :circle_img, :fill, 80, 60, format: 'jpeg' %>
            <% end %>
          <% else %>
            <%= link_to users_circle_path(circle.id) do %>
              <%= attachment_image_tag circle, :circle_img, :fill, 80, 60, format: 'jpeg' %>
            <% end %>
          <% end %>
        </div>
       <div class="circle_report">
        ジャンル：<%= circle.genre %><br>
        メンバー数：<%= circle.circle_joins.count %>人<br>
        活動地域：<%= circle.active_area %>&emsp;&emsp;
        活動地域詳細：
        <% if circle.area_show.blank? %>
          <td>なし</td>
        <% else %>
          <td><%= circle.area_show %></td>
        <% end %>
      </div>
      <div class="host_icon">
        <% if admin_signed_in? %>
          <%= link_to admins_user_path(circle.user.id) do %>
            <%= attachment_image_tag circle.user, :profile_image, format: 'jpeg',size:"50x50" , class: "img-circle" %>
          <% end %>
        <% else %>
          <%= link_to user_path(circle.user.id) do %>
            <%= attachment_image_tag circle.user, :profile_image, format: 'jpeg',size:"50x50" , class: "img-circle" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

  <% if current_page?('/admins/circles') %>
    <%= paginate @circles %>
  <% end %>
</div>