<h2>サークル編集</h2>
<div class = "flash">
  <%= flash[:alert] %>
</div>

<%= form_for [:users, @circle] do |circle| %>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <table class="new_circle_item">
        <tr>
          <th><%= circle.label :genre, "ジャンル" %> (必項)</th>
          <td><%= circle.select :genre, Circle.genres.keys, {prompt: '選択して下さい'} %></td>
        </tr>
        <tr>
          <th><%= circle.label :circle_name, "サークル名" %> (必項)</th>
          <td><%= circle.text_field :circle_name %></td>
        </tr>
        <tr>
          <th><%= circle.label :active_area, "活動地域" %> (必項)</th>
          <td><%= circle.select :active_area, Circle.active_areas.keys, {prompt: '選択して下さい'} %></td>
        </tr>
        <tr>
          <th><%= circle.label :area_show, "活動地域詳細" %></th>
          <td><%= circle.text_field :area_show %></td>
        </tr>
        <tr>
          <th><%= circle.label :age_group, "募集年齢層" %> (必項)</th>
          <td><%= circle.select :age_group, Circle.age_groups.keys, {prompt: '選択して下さい'} %></td>
        </tr>
        <tr>
          <th><%= circle.label :recruitment, "募集人数" %></th>
          <td><%= circle.number_field :recruitment, min: 1 %> 人</td>
        </tr>
        <tr>
          <th><%= circle.label :cost, "費用" %> </th>
          <td>¥ <%= circle.number_field :cost %></td>
        </tr>
      </table>
    </div>

    <div class="col-md-6 col-xs-12">
      <table>
        <tr>
          <td>
            <%= circle.label :circle_img, "サークルイメージ画像" %>(必項)
            <div class="circle_img">
              <%= attachment_image_tag @circle, :circle_img, format: 'jpeg',fallback: "no_image.jpeg",size:"300x180" %>
            </div>
          </td>
        </tr>
        <tr>
          <td><%= circle.attachment_field :circle_img %></td>
        </tr>
        <tr>
          <td><%= circle.label :explanation, "説明文" %> (必項)</td>
        </tr>
        <tr>
          <td><%= circle.text_area :explanation, size: "65x8" %></td>
        </tr>
      </table>
      <div class="edit_circle_button">
         <%= circle.submit('更新', class: "btn btn-primary") %>
      </div>
    </div>
  </div>
<% end %>

<style type="text/css">
select {
  width: 200px;
  height: 25px;
  margin-bottom: 5px;
}
</style>