<div class="row">
  <%= form_for [:users, @circle] do |circle| %>
    <div class="col-xs-6">
      <div class="profile_name">
        <h2><%= @circle.circle_name %></h2>
      </div>
      <div class="circle_profile">
        <div class="genre_name">
          <%= circle.label :genre, "ジャンル：" %>
          <%= @circle.genre %>
        </div>

        <div class="circle_show_img">
          <%= attachment_image_tag @circle, :circle_img, :fill, 418, 324, format: 'jpeg' %>
        </div>

        <div class="circle_host_img">
          <%= link_to user_path(@circle.user.id) do %>
        <%= attachment_image_tag @circle.user, :profile_image, :fill, 70, 70, format: 'jpeg',fallback: "no_image.jpeg",size:
        "70x70" , class: "img-circle" %>
      </div>
      <% end %>

        <div class="host_name">
          <span class="glyphicon glyphicon-user" aria-hidden="true"><strong>ホスト名</strong></span><br>
          <%= @circle.user.nickname %>
        </div>
      </div>
    </div>

  <div class="col-xs-6">
    <div class="circle_item">
      <table class="table">
        <tr>
          <th><%= circle.label :active_area, "メンバー" %>：</th>
          <td><%= @circle.circle_joins.count %>人</td>
        </tr>
        <tr>
          <th><%= circle.label :active_area, "活動地域" %>：</th>
          <td><%= @circle.active_area %></td>
        </tr>
        <tr>
          <th><%= circle.label :area_show, "活動地域詳細" %>：</th>
          <% if @circle.area_show.blank? %>
            <td>なし</td>
          <% else %>
            <td><%= @circle.area_show %></td>
          <% end %>
        </tr>
        <tr>
          <th><%= circle.label :age_group, "募集年齢層" %>：</th>
          <td><%= @circle.age_group %></td>
        </tr>
        <tr>
          <th><%= circle.label :recruitment, "募集人数" %>：</th>
          <td><%= @circle.recruitment %>人</td>
        </tr>
        <tr>
          <th><%= circle.label :cost, "費用" %>：</th>
          <% if @circle.cost == nil %>
            <td>無料</td>
          <% else %>
            <td>¥<%= @circle.cost %></td>
          <% end %>
        </tr>
      </table>
    </div>

    <div class="explanation_box">
      <%= circle.label :explanation, "説明文" %>
      <div class="cicle_explanation">
        <%= @circle.explanation %>
      </div>
    </div>

  <div class="user_button">
    <% if current_user == @circle.user %>
      <%= link_to "編集する", edit_users_circle_path(@circle.id), class: "btn btn-info" %>
    <% else %>
      <% if @circle.joined_by?(current_user) %>
        <%= link_to "サークルを辞める", users_circle_join_path(@circle.id), method: :delete, class: "btn btn-warning" %>
      <% elsif !@circle.joined_by?(current_user) %>
        <%= link_to "サークルに参加する", users_circle_joins_path(@circle.id), method: :POST, class: "btn btn-success" %>
    <% end %>
  <% end %>
    <%= link_to "サークル一覧へ", users_circle_index_path(@circle.id), method: :get, class: "btn btn-info" %>
    <% end %>
  </div>
  </div>
</div>